<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성 폼</title>
    <style>
        .layout {
            width: 500px;
            margin: 0 auto;
            margin-top : 40px;
        }

        .layout input {
            width : 100%;
            box-sizing : border-box;
        }

        .layout textarea {
            width: 100%;
            margin-top: 10px;
            min-height : 300px;
        }
    </style>
</head>
<body>
<div class="layout">
    <form action="/board/writepro" method="post">

        <input name="title" type="text" placeholder="제목">
        <textarea name="content" placeholder="내용"></textarea>

        <!-- 반드시 있어야 할 hidden 필드 -->
        <input type="hidden" name="userId" value="1">
        <input type="hidden" name="postId" value="100">

        <button type="submit">작성</button>

    </form>
</div>
</body>
</html>
